*{
    padding: 0px;
    margin:0px;
}
body{
    background-image: url(Back_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    margin-top: 0px;
    padding: 0px;
    display: inline-block;
  
}
#MyLogo img{
    text-align: center;
    margin: 5px 10px;
}
img{
    width: 100px;
    border-radius: 40%;
}
#menu{
    background: rgb(2, 63, 2,0.5);
    text-align: center;
    
}
#menu ul{
    display: inline-flex;
    list-style: none;
    color:#fff;
}
#menu ul li{
    padding: 15px;
    margin:5px;
    width: 140px;
}
#menu ul li a{
    text-decoration: none;
    color:#fff;
}
#menu ul li a:hover{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
.active,#menu ul li:hover{
    background-color: #2bab02;
    border-radius: 3px;
}
.Succsess{
margin: 150px 100px;
padding: 25px;
background-color: rgb(2, 63, 2,0.3);
width: 40%;
}
#Size{
    font-family: sans-serif;
}
.Footer{
    border: 1px solid black;
    width: 100%;
    margin: 0px;
    background-color: rgb(0, 0, 0,0.5);
    display: inline-block;
}
.Footer ul li a{
    margin: 5px;
    padding: 1px;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
}
.Footer ul li a:hover{
    margin: 5px;
    padding: 10px;
    display: inline-flex;
    color: #fff;
    text-decoration: none;
}